:root {
  --h1-input-width: 220px;
  --h1-layout-table-max-height: calc(100vh - 252px);
  --ez-fast-table--wrap-padding: 0 10px;
  --el-color-primary: #409eff;
  --el-color-primary-light-3: rgb(121, 187, 255);
  --el-color-primary-light-5: rgb(160, 207, 255);
  --el-color-primary-light-7: rgb(198, 226, 255);
  --el-color-primary-light-8: rgb(217, 236, 255);
  --el-color-primary-light-9: rgb(236, 245, 255);
  --el-color-primary-dark-2: rgb(51, 126, 204);
  --el-color-success: #67c23a;
  --el-color-success-light-3: rgb(149, 212, 117);
  --el-color-success-light-5: rgb(179, 225, 157);
  --el-color-success-light-7: rgb(209, 237, 196);
}

/* 默认充值样式 */
.ez-search-from .el-input,
.ez-search-from .el-select {
  width: var(--h1-input-width);
}
.ez-search-from .el-cascader__tags .el-tag {
  max-width: 70%;
}
.ez-fast-table {
  border-radius: 5px;
}
.ez-fast-table .ez-search-from {
  padding-left: 10px;
  padding-right: 10px;
}

.ez-fast-table .ez-search-from_operate {
  margin-right: 0;
}

/* 处理火狐浏览器的input disabled属性不能选择问题 */
input[disabled] {
  pointer-events: auto;
}

.process-page-container {
  background-image: linear-gradient(180deg, #fff, #deecff);
}
